@import url("https://fonts.googleapis.com/css2?family=Asap:ital@0;1&family=Playfair+Display:ital,wght@0,400;1,400;1,500&display=swap");

:root,
body {
  --color-primary: #6e6b96;
  --color-primary-accent: #cbb6c9;
  --color-secondary: #545e07;
  --color-tertiary: #dac29e;
  --color-contrast: #1a302e;
  --color-fill: #eee4d6;
  --color-fill-alternate: #f3eee6;
  --color-wash: rgba(26, 48, 46, 0.75);

  --font-family-headings: "Playfair Display", serif;

  --transition-base-duration: 0.25s;
  --transition-timing-function: ease;

  font-family: "Asap";
  font-size: 16px;

  background-color: var(--color-fill);
  color: var(--color-contrast);

  margin: 0;
  scroll-snap-type: y proximity;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

a:focus {
  outline: 2px dotted var(--color-contrast);
}

p,
blockquote {
  margin: 0;
}

br {
  display: none;
}

.button {
  padding: 0.5em;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-fill-alternate);
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  transition-duration: var(--transition-base-duration);
  transition-timing-function: var(--transition-timing-function);
  transition-property: color, background-color;
}

.button:hover,
.button:focus {
  text-decoration: none;
  background-color: var(--color-fill-alternate);
  color: var(--color-primary);
}

/** all sections */

.section {
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;
}

.section:nth-child(even) {
  background-color: var(--color-fill-alternate);
}

.section h2 {
  font-family: var(--font-family-headings);
  text-transform: lowercase;
  text-align: center;
  font-size: 2.25em;
  margin: 0;
  font-weight: 500;
  font-style: italic;
  letter-spacing: 0.05em;
  line-height: 1.1em;
}

.labelled-heading__label {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.labelled-heading .labelled-heading__label {
  margin-top: 0.5em;
}

.labelled-heading__label.labelled-heading--label-before .labelled-heading__label {
  margin-bottom: -0.5em;
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-wash);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  opacity: 0;
  transition: opacity var(--transition-base-duration) var(--transition-timing-function);
}

.modal-container.modal-container--visible {
  opacity: 1;
}

.modal-content {
  border-radius: 0.25rem;
  overflow: hidden;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.0625), 0 15px 12px rgba(0, 0, 0, 0.0625);
}

/** header **/

.header {
  background-color: var(--color-wash);
  color: var(--color-tertiary);
  font-size: 0.7rem;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.header__title {
  margin: 0;
  text-transform: uppercase;
  font-size: 5em;
  font-family: var(--font-family-headings);
  font-weight: 400;
  letter-spacing: 0.05em;
  z-index: 1;
  text-align: center;
}

.header__subtitle {
  font-family: var(--font-family-headings);
  font-weight: 400;
  letter-spacing: 0.05em;
  font-style: italic;
  font-size: 1.5em;
  text-transform: lowercase;
  letter-spacing: 0.125em;
  z-index: 1;
}

.header__subtitle::before,
.header__subtitle::after {
  content: "";
  border: 0.5px solid var(--color-tertiary);
  width: 2em;
  margin: 0.25em 0.5em;
  display: inline-block;
}

@keyframes scrolldown_fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 75%;
  }
}

.header__scroll-down-icon {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2.5rem;
  width: 2.5rem;
  opacity: 0;
  animation-name: scrolldown_fadein;
  animation-timing-function: var(--transition-timing-function);
  animation-duration: calc(var(--transition-base-duration) * 4);
  animation-delay: 2s;
  animation-fill-mode: forwards;
  z-index: 1;
}

.header__background-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 0;
}

.header__background-video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.header__background-video-container::after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-wash);
  z-index: 1;
}

@media only screen and (min-width: 50rem) {
  .header {
    font-size: 1rem;
  }
}

/** my story **/

.my-story__content-container {
  display: grid;
  --width: 80vw;
  --max-width: 75rem;
  --grid-cell-width: calc(min((var(--width) / 10), (var(--max-width) / 10)));
  grid-template: repeat(10, 1fr) / repeat(10, var(--grid-cell-width));
  width: var(--width);
  max-width: var(--max-width);
  height: auto;
}

.my-story__portrait {
  grid-column: 1 / span 10;
  grid-row: 1 / span 10;
  height: auto;
  width: 100%;
  opacity: 0.4;
}

.my-story__aside-items {
  grid-column: 2 / span 8;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 0;
  z-index: 1;
}

.my-story__title-container {
  padding: 1rem;
  margin-bottom: -0.125em;
  font-size: 1.1em;
}

.my-story__film-preview-container {
  display: flex;
  justify-content: flex-start;
}

.my-story__film-preview {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.my-story__film-link-container {
  padding: 1rem;
}

@media only screen and (min-width: 50rem) {
  .my-story__portrait {
    grid-column: 1 / span 6;
    opacity: 0.7;
  }

  .my-story__aside-items {
    grid-column: 7 / span 4;
    grid-row: 10;
    justify-content: flex-end;
    align-items: flex-start;
  }

  h2.my-story__title,
  .my-story__title-label {
    text-align: left;
  }

  .my-story__film-preview {
    width: calc(100% + var(--grid-cell-width));
    margin-left: calc(-1 * var(--grid-cell-width));
    max-width: 700px;
  }
}

/** travel videos **/

.travel-videos__content {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  align-items: center;
}

.travel-videos__image {
  max-width: 90%;
  height: auto;
  width: 450px;
}

.travel-videos__right {
  padding: 1em;
}

.travel-videos__quote {
  padding: 0.25em 0 0.25em 1em;
  margin-bottom: 1em;
  font-size: 1.125rem;
  border-left: 2px solid var(--color-contrast);
  max-width: 60ch;
}

.travel-videos__quote-author {
  padding-top: 0.25em;
  display: inline-block;
}

.travel-videos__quote-author::before {
  content: "— ";
  padding-left: 1ch;
}

@media only screen and (min-width: 75rem) {
  .travel-videos__content {
    flex-direction: row;
  }
}

/** blog **/

.blog__grid {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: 1em;
  margin: 1em;
  max-width: 90%;
}

.blog__grid-img {
  width: 350px;
  max-width: 100%;
  height: auto;
}

/** collaborations **/

/*** gallery ***/

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin: 1em;
  justify-content: center;
}

.gallery__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5em;
  background-color: var(--color-contrast);
}

.gallery__image {
  margin: 0;
  padding: 0;
  width: 400px;
  max-width: 90vw;
}

.gallery__item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  background-color: var(--color-wash);
  color: var(--color-fill-alternate);
  font-size: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  padding: 1em;
  text-align: center;
  transition: background-color var(--transition-base-duration) var(--transition-timing-function);
}

.gallery__item:hover .gallery__item-title,
.gallery__item:focus .gallery__item-title {
  background-color: var(--color-contrast);
}

/*** collaboration ***/

/* For styling collaboration viewed as a page instead of a modal. */
body > .collaboration {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.collaboration__content {
  max-width: 30rem;
  background-color: var(--color-fill);
  padding: 1rem;
  position: relative;
  width: 85vw;
}

.collaboration__close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 2rem;
  width: 2rem;
  overflow: hidden;
  text-indent: 15rem;
  border-radius: 2rem;
  cursor: pointer;
  background-color: var(--color-fill-alternate);
  background-image: url(icons/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
}

.collaboration__close-button:hover {
  background-color: var(--color-primary-accent);
}

.collaboration h3,
.collaboration h4 {
  margin: 0;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.collaboration h3 {
  font-size: 1.5em;
}

.collaboration h4 {
  font-size: 1.125em;
}

.collaboration__header-image {
  width: calc(100% + 2rem);
  height: auto;
  margin: -1rem -1rem 0 -1rem;
}

.collaboration__subtitle {
  font-style: italic;
  margin-bottom: 1rem;
}

.collaboration__footer {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid var(--color-primary-accent);
}

/** footer **/

.footer {
  background-color: var(--color-wash);
  color: var(--color-tertiary);
  padding: 1em;
  /* The footer needs to be sufficiently tall that firefox will allow scrolling into it when sticky
  scroll is on. */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer > * {
  margin: 0.75rem 0;
}

.footer__title {
  font-family: var(--font-family-headings);
  text-transform: uppercase;
  text-align: center;
  font-size: 2em;
  letter-spacing: 0.01em;
}

.footer__social-links {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: center;
}

.footer__social-links > li {
  padding: 0 1em;
}

.footer__link {
  color: var(--color-fill-alternate);
  transition: color var(--transition-base-duration) var(--transition-timing-function);
  text-transform: uppercase;
  letter-spacing: 0.01em;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--color-primary-accent);
}

.footer__copyright {
  display: block;
  text-align: center;
  font-size: 0.9em;
}

.footer__copyright > a {
  color: inherit;
  text-decoration: underline;
}
